.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.memories img, .video-container video {
  width: 280px;
  height: auto;
  border-radius: 20px;
  border: 5px solid #fff0f3;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.video-container {
  max-width: 280px;
}

.caption {
  font-size: 14px;
  color: #d6336c;
  margin-top: 10px;
}
